@import 'styles/breakpoints';

.component {
	margin-right: auto;
	margin-left: auto;
	max-width: var(--wwx--container--max-width);
	padding-left: var(--wwx--content--padding--left);
	padding-right: var(--wwx--content--padding--right);

	@media (max-width: $breakpoint-small){
		padding-left: var(--wwx--content--padding--left--mobile);
		padding-right: var(--wwx--content--padding--right--mobile);
	}
}
