@import 'styles/breakpoints';

.component {
	margin-right: auto;
	margin-left: auto;
	max-width: var(--wpe--container--max-width);
	padding: var(--wpe--content--padding);

	@media (max-width: $breakpoint-small){
		padding: var(--wpe--content--padding--mobile);
	}
}
