@import "styles/breakpoints";

.home-hero-banner{
    position: relative;
    width: 100%;
    padding: 120px 0 30px;
    min-height: 1460px;

    h1, h2, h3{
        position: relative;
        z-index: 2;
    }
    h1 {
        font-family: 'Poly Sans';
        font-weight: 300;
        font-style: normal;
        font-size: 180px;
        line-height: 100%;
        margin-left: 8%;
    }
    h2 {
        font-family: 'Open Sans';
        font-weight: 300;
        font-style: normal;
        font-size: 55px;
        line-height: 100%;
        color: var(--wwx--color--black);
    }
    .banner-img {
        display: block;
        position: relative;
        width: calc( ( 100vw - var(--wwx--content--max-width) ) / 2 + var(--wwx--content--max-width) - var(--wwx--content--padding--right) );
        max-width: unset;
        background-color: #eeeeee;
        background-size: cover;
        background-position: center;
        border-radius: 30px 0px 0px 30px;
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
        video {
            width: 100%; 
            height: auto;
        }
    }
    .banner-description {
        display: block;
        opacity: 0;
        margin-left: 32%;
    }
    h3 {
        font-family: 'Open Sans';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 50px;
        color: #fff;
        mix-blend-mode: difference;
    }
}