@import "styles/breakpoints";

.home-hero-banner{
    position: relative;
    width: 100%;
    padding: 120px 0 30px;
    > div {
        min-height: 1460px;
    }

    h1, h2, h3{
        position: relative;
        z-index: 2;
    }
    h1 {
        font-family: 'Poly Sans';
        font-weight: 300;
        font-style: normal;
        font-size: 11.25rem;
        line-height: 100%;
        margin-left: 8%;
        max-width: fit-content;
    }
    h2 {
        font-family: 'Open Sans';
        font-weight: 300;
        font-style: normal;
        font-size: 3.5rem;
        line-height: 100%;
        color: var(--wwx--color--black);
    }
    .banner-img {
        display: block;
        position: relative;
        height: 140px; 
        width: 250px;
        margin-top: -160px;
        max-width: unset;
        background-color: #eeeeee;
        background-size: cover;
        background-position: center;
        border-radius: 40px;
        transform: translate(850px);
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
        video {
            width: 100%; 
            height: auto;
        }
        @media (max-width: $breakpoint-medium) {
            height: 110px;
            width: 200px;
            margin-top: -120px;
            border-radius: 30px;
            transform: translate(450px);
        }
        @media (max-width: $breakpoint-small) {
            height: 80px;
            width: 140px;
            margin-top: -80px;
            border-radius: 20px;
            transform: translate(280px);
            
        }
    }
    .banner-description {
        display: block;
        margin-left: 32%;
        mix-blend-mode: difference;
        opacity: 0;
    }
    .studio-text {
        position: relative;
        font-family: 'Open Sans';
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 100%;
        transform: translate(-15%);
        left: 100%;
    }
    h3 {
        font-family: 'Open Sans';
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 50px;
    }
    button.btn {
        display: block;
        height: 90px;
        width: 390px;
        background-color: transparent;
        border: 1px solid var(--wwx--color--white);
        color: var(--wwx--color--white);
        font-family: 'Poly Sans';
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        padding: 16px 45px; 
        &:hover {
            background-color: var(--wwx--color--white);
            color: var(--wwx--color--black);
        }
        svg {
            color: var(--wwx--color--black);
        }
    } 
    @media (max-width: $breakpoint-medium) {
        h1 {
            font-size: 8rem;
        }
        h2, .studio-text {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 2rem;
        }
    }
    @media (max-width: $breakpoint-small) {
        padding: 120px 0 30px;
        min-height: 800px;
        h1 {
            font-size: 4.3rem;
        }
        h2, .studio-text {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.125rem;
        }
    }
}