.component {
	color: var(--wwx--footer--color);
	background: var(--wwx--footer--background-color);
	padding-top: var(--wwx--section--padding-y);
	padding-bottom: var(--wwx--section--padding-y);
}

.copyright {
	margin: 2rem 0;
	text-align: center;
}
