@import "styles/breakpoints";

.project-horizontal-scroller {
    padding: 60px 0 60px;
    .pin-wrap {
        display: flex;
        justify-content: flex-start;
        // min-height: 800px; 
        padding-bottom: 20px;
        width: auto;
        @media (max-width: 767px) {
            padding: 50px var(--wwx--content--padding--left--mobile) 50px var(--wwx--content--padding--right--mobile);
        }
    }
    .project-item {
        display: block;
        width: 450px;
        // min-height: 650px;
        display: block;
        margin-right: 55px;
        .project-image {
            display: block;
            width: 450px;
            height: 600px; 
            max-height: calc(100vh - 300px);
            border-radius: 30px; 
            overflow: hidden;
            margin-bottom: 20px;
            transition: 0.5s all ease-in-out;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: 0.5s all ease-in-out;
            }
            &:hover {
                border-radius: 55px;
                img {
                    transform: scale(1.1);
                }
            }
        }
        .project-title {
            font-size: 25px;
            font-weight: 400;
            line-height: 120%;
            text-transform: uppercase;
        }
    }
}