.light-mode {
    footer {
        background-color: #f4f3e1;
        figure.footer-logo.dark {
            display: none;
        }
        .marquee {
            background-color: transparent;
        }
    }
}
.dark-mode {
    footer {
        figure.footer-logo.light {
            display: none;
        }
        .social-icons {
            img {
                filter: invert(100%);
            }
        }
    }
}
footer {    
    overflow: hidden;
    position: relative;
    .marquee {
        position: relative;
        .marquee__inner.clone {
            display: flex;
            position: absolute;
            transform: translate(0,80px);
            max-width: 1440px;
        }
        &:hover {
            background-color: #222;
            .marquee__line {
                animation-play-state: paused;
                color: #fff;
            }
            svg {
                line {
                    transition: all 0.3s;
                    stroke: #fff; 
                }
                path {
                    transition: all 0.3s;
                    fill: #fff; 
                }
            }
        }
    }
    .marquee__line {
        font-size: 3.75rem;
        min-width: clamp(480px, 100%, 35%) !important;
        align-content: center;
        display: flex;
        svg {
            margin-left: 20px;
        }
    }
    figure.footer-logo {
        position: relative;
        left: -100px;
        margin: 0 !important;
        bottom: -15px;
        img {
            width: 509px;
            max-width: unset;
        }
    }
    .button-outer {
        display: flex;
        justify-content: center;
        max-width: max-content;
        margin: 66px auto 97px;
        .btn.btn-primary.marquee {
            transform-style: preserve-3d;
            border: 1px solid #fff;
            width: 100%;
            max-width: 1480px;
            margin: 0;
            height: 150px;
            border-radius: 4em;
        }
    }
    .outer-group {
        padding: 0 var(--footer--padding--x) 0 0;
    }
    .wp-block-group {
        &.is-layout-flex {
           display: flex; 
        }
        &.is-vertical {
           flex-direction: column;
        }
        &.is-content-justification-space-between {
            justify-content: space-between;
        }
        .wp-block-group__inner-container {
            .footer-links {
                width: 100%;
                > .wp-block-group:not(:last-child) {
                    display: grid;
                    grid-template-columns: 1fr 1fr auto;
                }
                ul {
                    li {
                        a {
                            color: #fff;
                        }
                    }
                }
                .footer-navigation {
                    h3 {
                        font-size: 2.5rem;
                        margin-bottom: 37px;
                    }
                    ul {
                        &.wp-block-navigation__container {
                            margin-bottom: 115px;
                        }
                        li {
                            margin-bottom: 14px;
                            a {
                                font-size: 1.25rem;
                                font-weight: 300;
                            }
                        }
                    }
                }
                .footer-bar {
                    border-top: 1px solid var(--wwx--color--black);
                    padding: 15px 0;
                    position: relative;
                    &:before {
                        content: '';
                        width: 4px;
                        height: 4px;
                        background-color: var(--wwx--color--black);
                        transform: rotate(45deg);
                        position: absolute;
                        top: -3px;
                        left: -2px;
                    }
                    &:after {
                        content: '';
                        width: 4px;
                        height: 4px;
                        background-color: var(--wwx--color--black);
                        transform: rotate(45deg);
                        position: absolute;
                        top: -3px;
                        right: -2px;
                    }
                    ul {
                        li {
                            a {
                                font-size: 0.875rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    footer {    
        .button-outer {
            max-width: calc(100% - 100px);
        }
    }
}

@media screen and (max-width: 1200px) {
    footer { 
        .wp-block-group  {
            .wp-block-group__inner-container {
                .footer-links .footer-navigation {
                    h3 {
                        font-size: 1.75rem;
                        margin-bottom: 25px;
                    }
                    ul li {
                        margin-bottom: 11px;
                        a {
                            font-size: 0.938rem;
                        }
                    }
                }
            }   
        }
    }
}

@media screen and (max-width: 1180px) {
    footer {
        .wp-block-group {
            .wp-block-group__inner-container {
                .footer-links {
                    .footer-navigation {
                        > .wp-block-group:not(:nth-child(3)) {
                            padding-right: 45px;
                        }
                        ul {
                            &.wp-block-navigation__container {
                                margin-bottom: 90px;
                            }
                        }
                    }
                    .footer-bar {
                        p, a {
                            font-size: 0.75rem!important;
                        }
                    }
                }
            }
        }
        figure.footer-logo img {
            width: 390px;
        }
    }
}

@media screen and (min-width: 902px) {
    footer {
        .wp-block-group {
            .wp-block-group__inner-container {
                .footer-links {
                    > .wp-block-group {
                        &.mobile-socials {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 901px) {
    footer {
        .outer-group {
            padding: 0 var(--footer--padding--x) 0 var(--footer--padding--x);
            .mobile-socials {
                padding: 40px 0 40px;
                .social-icons > figure {
                    display: flex;
                    justify-content: right;
                    min-width: 40px;
                }
                figure.footer-logo {
                    bottom: 0;
                    left: 0px;
                }
            }
            .wp-block-group__inner-container .footer-links {
                .wp-block-group {
                    &:not(:last-child) {
                        grid-template-columns: 1fr 1fr;
                    }
                    &:nth-child(2) {
                        padding-right: 0px!important;
                    }
                }
                .footer-navigation {
                    ul.wp-block-navigation__container {
                        margin-bottom: 0px;
                    }
                    .social-icons {
                        display: none;
                    }
                }
            }
            .footer-logo:not(.mobile) {
                display: none;
            }
        }
        .button-outer {
            margin: 66px auto 47px;
            .btn.btn-primary.marquee {
                height: 115px;
                .marquee__line {
                    font-size: 1.875rem;
                    min-width: clamp(280px, 100%, 28%) !important;
                    svg {
                        margin-left: 20px;
                        max-width: 21px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    footer {
        .wp-block-group.outer-group .wp-block-group__inner-container .footer-links {
            .mobile-socials {
                grid-template-columns: calc(100% - 100px) 100px;
                figure.footer-logo {
                    left: -120px;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    footer {
        .wp-block-group.outer-group .wp-block-group__inner-container .footer-links {
            .mobile-socials {
                figure.footer-logo {
                    img {
                        width: 310px;
                    }
                }
            }
        }
    }
}