@mixin declare-font-face($font-face-family, $font-face-filename, $font-face-weight : normal, $font-face-style :normal) {
    @font-face {
        font-family: '#{$font-face-family}';
        src: url(('#{$font-face-filename}.eot'));
        src: url(('#{$font-face-filename}.eot?#iefix')) format('embedded-opentype'),
        url(('#{$font-face-filename}.woff')) format('woff'),
        url(('#{$font-face-filename}.ttf')) format('truetype'),
        url(('#{$font-face-filename}.svg##{$font-face-family}')) format('svg');
        font-weight: $font-face-weight;
        font-style: $font-face-style;
    }
}

// Open Sans
@include declare-font-face('Open Sans', './../assets/fonts/open-sans/OpenSans-Light', 300, normal);
@include declare-font-face('Open Sans', './../assets/fonts/open-sans/OpenSans', 400, normal);
@include declare-font-face('Open Sans', './../assets/fonts/open-sans/OpenSans-Bold', 700, normal);
@include declare-font-face('Open Sans', './../assets/fonts/open-sans/OpenSans-Italic', 400, italic);
@include declare-font-face('Open Sans', './../assets/fonts/open-sans/OpenSans-BoldItalic', 700, italic);
@include declare-font-face('Open Sans', './../assets/fonts/open-sans/OpenSans-Semibold', 600, normal);
@include declare-font-face('Open Sans', './../assets/fonts/open-sans/OpenSans-SemiboldItalic', 600, italic);

// Playfair Display
@include declare-font-face('Playfair Display', './../assets/fonts/playfair-display/PlayfairDisplay-Regular', 400, normal);
@include declare-font-face('Playfair Display', './../assets/fonts/playfair-display/PlayfairDisplay-Bold', 700, normal);
@include declare-font-face('Playfair Display', './../assets/fonts/playfair-display/PlayfairDisplay-Italic', 400, italic);
@include declare-font-face('Playfair Display', './../assets/fonts/playfair-display/PlayfairDisplay-BoldItalic', 700, italic);

// Poly Sans 
@include declare-font-face('Poly Sans', './../assets/fonts/polysans/PolySans-Slim', 300, normal);

  
body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Playfair Display, serif;
	margin: 0 0 1rem;
}

a {
	color: var(--link-color);
}


body {
    font-size: var(--body--font--size--desktop);
    line-height: var(--body--line--height--desktop);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--body--font--size--tablet);
        line-height: var(--body--line--height--tablet);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    @media (max-width: 767px) {
        font-size: var(--body--font--size--mobile);
        line-height: var(--body--line--height--mobile);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.main-title {
    font-size: var(--main-title--font--size--desktop);
    line-height: var(--main-title--line--height--desktop);
    margin-top: 0;
    margin-bottom: var(--main-title--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--main-title--font--size--tablet);
        line-height: var(--main-title--line--height--tablet);
        margin-bottom: var(--main-title--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--main-title--font--size--mobile);
        line-height: var(--main-title--line--height--mobile);
        margin-bottom: var(--main-title--margin--bottom--mobile);
    }
}

.site-description {
    font-size: var(--site-description--font--size--desktop);
    line-height: var(--site-description--line--height--desktop);
    margin-top: 0;
    margin-bottom: var(--site-description--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--site-description--font--size--tablet);
        line-height: var(--site-description--line--height--tablet);
        margin-bottom: var(--site-description--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--site-description--font--size--mobile);
        line-height: var(--site-description--line--height--mobile);
        margin-bottom: var(--site-description--margin--bottom--mobile);
    }
}

header {
    nav {
        ul {
            a {
                font-size: var(--primary-menu-items--font--size--desktop);
                line-height: var(--primary-menu-items--line--height--desktop);
                margin-bottom: var(--primary-menu-items--margin--bottom--desktop);

                @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
                    font-size: var(--primary-menu-items--font--size--tablet);
                    line-height: var(--primary-menu-items--line--height--tablet);
                    margin-bottom: var(--primary-menu-items--margin--bottom--tablet);
                }
                @media (max-width: 767px) {
                    font-size: var(--primary-menu-items--font--size--mobile);
                    line-height: var(--primary-menu-items--line--height--mobile);
                    margin-bottom: var(--primary-menu-items--margin--bottom--mobile);
                }
            }
            ul {
                a {
                    font-size: var(--primary-sub-menu-items--font--size--desktop);
                    line-height: var(--primary-sub-menu-items--line--height--desktop);
                    margin-bottom: var(--primary-sub-menu-items--margin--bottom--desktop);

                    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
                        font-size: var(--primary-sub-menu-items--font--size--tablet);
                        line-height: var(--primary-sub-menu-items--line--height--tablet);
                        margin-bottom: var(--primary-sub-menu-items--margin--bottom--tablet);
                    }
                    @media (max-width: 767px) {
                        font-size: var(--primary-sub-menu-items--font--size--mobile);
                        line-height: var(--primary-sub-menu-items--line--height--mobile);
                        margin-bottom: var(--primary-sub-menu-items--margin--bottom--mobile);
                    }
                }
            }
        }
    }
}

button, .wp-block-button__link {
    font-size: var(--button--font--size--desktop);
    line-height: var(--button--line--height--desktop);
    margin-bottom: var(--button--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--button--font--size--tablet);
        line-height: var(--button--line--height--tablet);
        margin-bottom: var(--button--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--button--font--size--mobile);
        line-height: var(--button--line--height--mobile);
        margin-bottom: var(--button--margin--bottom--mobile);
    }
}

h1 {
    font-size: var(--h1--font--size--desktop);
    line-height: var(--h1--line--height--desktop);
    margin-bottom: var(--h1--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--h1--font--size--tablet);
        line-height: var(--h1--line--height--tablet);
        margin-bottom: var(--h1--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--h1--font--size--mobile);
        line-height: var(--h1--line--height--mobile);
        margin-bottom: var(--h1--margin--bottom--mobile);
    }
}

h2 {
    font-size: var(--h2--font--size--desktop);
    line-height: var(--h2--line--height--desktop);
    margin-bottom: var(--h2--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--h2--font--size--tablet);
        line-height: var(--h2--line--height--tablet);
        margin-bottom: var(--h2--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--h2--font--size--mobile);
        line-height: var(--h2--line--height--mobile);
        margin-bottom: var(--h2--margin--bottom--mobile);
    }
}

h3 {
    font-size: var(--h3--font--size--desktop);
    line-height: var(--h3--line--height--desktop);
    margin-bottom: var(--h3--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--h3--font--size--tablet);
        line-height: var(--h3--line--height--tablet);
        margin-bottom: var(--h3--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--h3--font--size--mobile);
        line-height: var(--h3--line--height--mobile);
        margin-bottom: var(--h3--margin--bottom--mobile);
    }
}

h4 {
    font-size: var(--h4--font--size--desktop);
    line-height: var(--h4--line--height--desktop);
    margin-bottom: var(--h4--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--h4--font--size--tablet);
        line-height: var(--h4--line--height--tablet);
        margin-bottom: var(--h4--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--h4--font--size--mobile);
        line-height: var(--h4--line--height--mobile);
        margin-bottom: var(--h4--margin--bottom--mobile);
    }
}

h5 {
    font-size: var(--h5--font--size--desktop);
    line-height: var(--h5--line--height--desktop);
    margin-bottom: var(--h5--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--h5--font--size--tablet);
        line-height: var(--h5--line--height--tablet);
        margin-bottom: var(--h5--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--h5--font--size--mobile);
        line-height: var(--h5--line--height--mobile);
        margin-bottom: var(--h5--margin--bottom--mobile);
    }
}

h6 {
    font-size: var(--h6--font--size--desktop);
    line-height: var(--h6--line--height--desktop);
    margin-bottom: var(--h6--margin--bottom--desktop);

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        font-size: var(--h6--font--size--tablet);
        line-height: var(--h6--line--height--tablet);
        margin-bottom: var(--h6--margin--bottom--tablet);
    }
    @media (max-width: 767px) {
        font-size: var(--h6--font--size--mobile);
        line-height: var(--h6--line--height--mobile);
        margin-bottom: var(--h6--margin--bottom--mobile);
    }
}
