// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import 'breakpoints';
@import 'css-variables';
@import 'base';
@import 'blocks';
@import 'utilities';
@import 'typography';
@import 'header';
@import 'footer';

// Grid system
@import "grid/all";
@import "wp-blocks";

body {
    background-color: var(--wwx--color--white);
    #theme-mode-button {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
    &.menu-open {
        overflow: hidden;
        header {
            .inside-header {
                #theme-mode-button {
                    opacity: 0;
                    pointer-events: none;
                }
                a svg {
                    path {
                        fill: #222;
                    }
                }
            }
        }
    }
    &.dark-mode {
        background-color: #fff;   
        .animation-background {   
            background-color: #222;    
            animation: backgroundAnimateDark 1.3s 0s linear forwards;
        } 
    }
    &.light-mode {
        background-color: #222;  
        .animation-background {   
            background-color: #fff;    
            animation: backgroundAnimateLight 1.3s 0s linear forwards;
        }  
    }
    .animation-background {
        width: 100%;
        height: 100%;
        will-change: clip-path;
        position: fixed;
        left: 0;
        top: 0;
    }
    h1, h1 span, h2:not(.section-title), h2 span, h3:not(.section-title), h4, h5, h6, p, ul:not(#primary-menu) li a {
        mix-blend-mode: difference;
        color: #fff;
    }
    .grain-foreground {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        opacity: 0.027;
        pointer-events: none;
    }
}

@keyframes backgroundAnimateLight {
    0% {
        clip-path: ellipse(0% 100% at 100% 50%);
    }
    25% {
        clip-path: ellipse(30% 80% at 100% 50%);
    }
    50% {
        clip-path: ellipse(60% 90% at 100% 50%);
    }
    60% {
        clip-path: ellipse(70% 100% at 100% 50%);
    }
    80% {
        clip-path: ellipse(90% 120% at 100% 50%);
    }
    100% {
        clip-path: ellipse(110% 200% at 100% 50%);
    }
}
@keyframes backgroundAnimateDark {
    0% {
        clip-path: ellipse(0% 100% at 0% 50%);
    }
    25% {
        clip-path: ellipse(30% 80% at 0% 50%);
    }
    50% {
        clip-path: ellipse(60% 90% at 0% 50%);
    }
    60% {
        clip-path: ellipse(70% 100% at 0% 50%);
    }
    80% {
        clip-path: ellipse(90% 120% at 0% 50%);
    }
    100% {
        clip-path: ellipse(110% 200% at 0% 50%);
    }
}