@import 'styles/breakpoints';

.component {
	background-color: var(--wwx--navigation-menu--background-color);
}
.main-navigation {
    height: 100vh;
	width: 100%;
    position: fixed;	
    right: 0;
    top: 0;
	.inside-navigation {
		box-sizing: border-box;
		height: 100%;
		padding: 140px 40px 0;
		display: flex;
		flex-direction: column;
		@media (max-width: $breakpoint-small) {
			padding: 140px 20px 0;
		}
	}
	.menu {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		position: relative;
		margin-bottom: 60px;
		@media (max-width: $breakpoint-small) {
			margin-bottom: 40px;
		}
	
		li {
			display: flex;
			align-items: center;
			flex-direction: column;
			position: relative;
			width: 100%;
			.menu-item-wrapper {
				position: absolute;
				left: -30px;
			}
		}
	
		a {
			display: flex;
			align-items: center;
			font-family: 'Poly Sans';
			color: var(--wwx--navigation-menu--color);
			transition: all 0.2s ease-out;
			width: 100%;
			white-space: nowrap;
			text-align: center;
			text-decoration: none;
			
			svg {
				margin-left:5px
			}
	
			// &:focus {
			// 	color: var(--wwx--navigation-menu--color--hover);
			// }
	
			// Remove link underline when component is inside header.
			header & {
				text-decoration: none;
			}
		}
	
		.sub-menu {
			// @extend %hidden;
			display: flex;
			flex-direction: column;
			gap: 0;
			width: 100%;
			height: 0px;
			padding: 0;
			overflow: hidden;
			transition: all 0.5s ease-in-out;
			&.open {
				margin-bottom: 20px;
			}
		}
		.dropdown-menu-toggle {
			display: block;
			margin-left: 5px;
			padding: 0 5px;
			transition: all 0.5s ease-in-out;
		}
	}
	.main-nav {
		> ul {
			display: block ;
		}
		li {
			width: 100%;
			text-align: left;
		}
		ul {
			ul { 
				transition: 0s;
				visibility: hidden;
				box-shadow: none; 
				border-bottom: 1px solid rgba(0,0,0,.05);
			}
			ul li:last-child>ul {
				border-bottom: 0;
			}
			ul.toggled-on {
				position: relative;
				top: 0;
				left: auto!important;
				right: auto!important;
				width: 100%;
				pointer-events: auto;
				height: auto;
				opacity: 1;
				display: block;
				visibility: visible;
				float: none
			}
		}
	}
	.menu-item-has-children .dropdown-menu-toggle {
		float: right
	}
	button {
		margin-bottom: 100px;
		@media (max-width: $breakpoint-small) {
			margin-bottom: 60px;
		}
	}
}


// Custom Menu Styling 
.main-nav {
	ul {
		li {
			a {
				font-size: 80px;
				font-weight: 300;
				line-height: 100%;
			}
		}
	}
}

